<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hs_hannover.fholz.studentenklatschen">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuestCat" />
        <activity android:name=".LoadingScreen" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".MainMenu.Profil" />
        <activity android:name=".Travel.Travel" />
        <activity android:name=".Shop.ItemGenerator" />
        <activity android:name=".MainMenu.Ergebnisse" />
        <activity android:name=".MainMenu.Hauptmenue">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu.Kampf" />
        <activity android:name=".MainMenu.Einstellungen" />
        <activity android:name=".MainMenu.About" />
        <activity android:name=".MainMenu.Credits" />
        <activity android:name=".MainMenu.AccelTest" />
        <activity android:name=".Shop.Shop" />
        <activity android:name=".MainMenu.Fighting" />
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu" />
        <activity android:name=".MainMenu.GeneratedEnemy" />
        <activity
            android:name=".Travel.TravelActivity"
            android:label="@string/title_activity_travel"
            android:theme="@style/AppTheme" />
        <activity android:name=".Travel.TravelLog"></activity>
    </application>

</manifest>