<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hs_hannover.fholz.studentenklatschen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuestCat" />
        <activity android:name=".LoadingScreen" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Menu.Profil" />
        <activity android:name=".Travel.Travel" />
        <activity android:name=".Shop.ItemGenerator" />
        <activity android:name=".Menu.Ergebnisse" />
        <activity android:name=".Menu.Hauptmenue" />
        <activity android:name=".Menu.Kampf" />
        <activity android:name=".Menu.Vorlesung" />
        <activity android:name=".Menu.Einstellungen" />
        <activity android:name=".Menu.About" />
        <activity android:name=".Menu.Credits" />
        <activity android:name=".Menu.AccelTest" />
        <activity android:name=".Shop.Shop"></activity>
        <activity android:name=".Menu.AccelTest" />
        <activity android:name=".Menu.Fighting"></activity>
    </application>

</manifest>